.v_title {
  float: left;
  margin: -3px 0 0 5px;
  width: 250px;
}
.y_video {
  clear: right;
  float: left;
  margin-left: 15px;
}
#youtube-channel-playlist-form-page-two .form-checkbox {
  float: left;
}
#youtube-channel-playlist-form-page-two .form-type-checkbox {
  clear: both;
  float: left;
  margin-bottom: 30px !important;
  width: 100%;
}
#youtube-channel-playlist-form-page-two #edit-checkall {
  margin: 3px 5px 0 0;
}
.playTitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: -30px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  /*width: 400px;*/
}
#youtube-channel-playlist-form-page-two .form-item-checkall {
  height: 30px !important;
}
.wrapper div {
    float: left;
    width: 46%;
}
